* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit';
}

html {
  font-size: 62.5%;
}

.main-body {
  max-width: 144rem;
  height: 100vh;
  padding: 10rem 6rem;
  margin: 0 auto;
  box-shadow: inset 0 0 0 6rem #fff;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
}

.container {
  background-color: #fff;
  width: 24rem;
  height: 36rem;
  border-radius: 11px;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
}

.img {
  width: 21rem;
  max-width: 100%;
  border-radius: 8px;
  margin: 1.2rem 0;
}

.main-text {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
  padding: 0 2rem;
}

.sub-text {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0 1.8rem;
  text-align: center;
  color: #555;
  margin-top: 0.7rem;
}