* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit';
  background-color: hsl(220, 25%, 88%);
}

html {
  font-size: 62.5%;
}


.main-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  background-color: #fff;
  width: 24rem;
  padding: 1.5rem 0.6rem;
  text-align: center;
  border-radius: 15px;
}

.img {
  width: 90%;
  border-radius: 15px;
}

.main-text {
  font-size: 1.6rem;
  margin: 1.5rem;
}

.sub-text {
  font-size: 1.1rem;
}